@import url('//cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

body {
  margin: 0;
  padding: 0;
  font-family: 'NanumSquareRound', sans-serif;
  font-weight: 300;
}

body:after {
  background-image:url('./Component/Img/Background.jpg');
  top:0;
  left:0;
  position:absolute;
  background-size:100%;
  background-position-y: -80px;
  opacity:0.7;
  z-index:-1;
  content:"";
  width:100%;
  height:100%;
}