@import url('//cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

.Con {
    font-family: 'NanumSquareRound', sans-serif;
    font-weight: 300;
    width: 320px;
    position: absolute;
    left: 50%;
    margin-left: -160px;
    bottom: 0;
    text-align: center;
}

.upper-left {
    font-family: 'NanumSquareRound', sans-serif;
    font-weight: 300;
    font-size: 14pt;
    position: absolute;
    left: 0;
    margin-left: 24px;
    top: -18px;
}

.upper-right {
    font-family: 'NanumSquareRound', sans-serif;
    font-weight: 300;
    font-size: 14pt;
    position: absolute;
    right: 0;
    margin-right: 12px;
    top: -18px;
    color: rgb(255, 254, 255)
}

.under {
    font-family: 'NanumSquareRound', sans-serif;
    font-weight: 300;
    font-size: 48pt;
    display: block
}