@import url('//cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

.main {
    font-family: 'NanumSquareRound', sans-serif;
    font-weight: 300;
    border: solid rgb(230, 230, 230) 7px;
    width: 62%;
    height: 28em;
    padding: 0;
    margin-top: -14em;
    margin-left: -31%;
    border-top: none;
    position: absolute;
    top : 50%;
    left: 50%;
}

.icon {
    position: absolute;
    width: 180px;
    left: 50%;
    margin-left: -90px;
    top: -68px;
}

.border-top-left {
    position: absolute;
    display: inline-block;
    width: 38%;
    border-top: solid 7px rgb(230, 230, 230);
}

.border-top-right {
    position: absolute;
    display: inline-block;
    width: 38%;
    border-top: solid 7px rgb(230, 230, 230);
    right: 0;
}

.logo {
    margin: 10px;
    margin-bottom: 0;
    width: 115px;
    position: absolute;
    bottom: 0;
}