@import url('//cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
.onoff {
    font-family: 'NanumSquareRound', sans-serif;
    font-weight: 300;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
}

.use {
    color: rgb(255, 254,255);
    font-size: 15pt;
    font-family: 'NanumSquareRound', sans-serif;
    font-weight: 300;
}

.ball-on {
    font-family: 'NanumSquareRound', sans-serif;
    font-weight: 300;
    color:hsl(120, 97%, 56%);
    font-size: 27pt;
    position: absolute;
}

.ball-off {
    font-family: 'NanumSquareRound', sans-serif;
    font-weight: 300;
    color:hsl(0, 96%, 56%);
    font-size: 27pt;
    
    
}

.turn {
    font-size: 30pt;
}